body{
    background-image: url(../img/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.next{
    display: flex;
    justify-content: flex-end;
    ;
}
.next button{
    background-color: crimson;
    color: rgb(97, 230, 163);
    padding: 10px;
    -webkit-text-stroke: 0.3px black;
    border-radius: 8px;
}
.next button:hover{
    opacity: 0.9;
}
.containerB{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.containerB button{
    background-color: rgb(79, 79, 226);
    color: crimson;
    padding: 10px;
    -webkit-text-stroke: 0.3px black;
    border-radius: 8px;
}
.containerB button:hover{
    opacity: 0.9;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.card{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100px;
    background-color: black;
    color: rgb(233, 70, 70);
    border-color: white;
    border-style: groove;
    
}
.card p{
    padding: 10px;
    text-align: justify;
    font-weight: 700;
}