#cuerpo{
    background-image: url(../img/background4.gif);
    background-repeat: repeat;
    text-align: center;
    width: 100%;
    height: 900px;
}
#boton{
    background-color: rgb(29, 4, 70);
    color: rgb(253, 65, 127);
    padding: 10px;
    -webkit-text-stroke: 0.3px black;
    border-radius: 8px;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.next button{
    background-color: crimson;
    color: rgb(97, 230, 163);
    padding: 10px;
    -webkit-text-stroke: 0.3px black;
    border-radius: 8px;
}
.next button:hover{
    opacity: 0.9;
}
.back button{
    background-color: crimson;
    color: rgb(97, 230, 163);
    padding: 10px;
    -webkit-text-stroke: 0.3px black;
    border-radius: 8px;
}
.back button:hover{
    opacity: 0.9;
}
